.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: -1px 3px 20px #a9a9a9;
  padding: .5em .25em;
}

.placeholder {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 5px;
  justify-content: center;

  min-height: 350px;
  padding: .5em;
}

.gallery-item {
  margin: .5em;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group div, .button-group button {
  margin: 0 .25em;
}

.gallery-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}