<div>
  <div class="toolbar">
    <div *ngIf="filters$ | async as filters" class="button-group">
      <span>{{filters | json}}</span>
      <div *ngFor="let filter of filters">
        <app-cat-gallery-filter [filter]="filter"></app-cat-gallery-filter>
      </div>
    </div>
    <div class="button-group">
      <button class="btn" (click)="addImages()">Load More</button>
      <button class="btn" (click)="loadImages()">Shuffle!</button>
    </div>
  </div>

  <div class="gallery" *ngIf="images$ | async as imageData">
    <div *ngFor="let image of imageData.images" class="gallery-item">
      <app-cat-gallery-item [image]="image"></app-cat-gallery-item>
    </div>
  </div>

  <div class="gallery-buttons">
    <button class="btn" (click)="addImages()">Load More</button>
  </div>
<div>

