.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: -1px 3px 20px #a9a9a9;
  padding: .5em .25em;
}

.gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 5px;
  justify-content: center;
}

.gallery-item {
  margin: .5em;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group div, .button-group button {
  margin: 0 .25em;
}