<div>
  <div class="toolbar">
    <ng-container *ngIf="filters$ | async as filters">
        <!-- <app-cat-gallery-filters [filters]="filters"></app-cat-gallery-filters> -->
      <div>
        <div class="mx-1" *ngFor="let filter of filters">
          <app-cat-gallery-filter [filter]="filter"></app-cat-gallery-filter>
        </div>
      </div>
    </ng-container>
    <div class="button-row">
      <button class="btn" (click)="addImages()">Load More</button>
      <button class="btn" (click)="loadImages()">Shuffle!</button>
    </div>
  </div>

  <div class="gallery" *ngIf="images$ | async as imageData">
    <div *ngFor="let image of imageData.images" class="gallery-item">
      <app-cat-gallery-item [image]="image"></app-cat-gallery-item>
    </div>
  </div>

  <div class="gallery-buttons">
    <button class="btn" (click)="addImages()">Load More</button>
  </div>
<div>

