.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 5px;
  justify-content: center;
}

.gallery-item {
  margin: .5em;
}

.gallery-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}